<h2 class="user-show"><%= @user.name %>'s Page</h2>


<h2>Quotes you liked</h2>

    <% @user.liked_quotations.each do |liked| %>
      <p id="liked-list"><%= link_to liked.content, quotation_path(liked.id) %></p>
    <% end %>


<hr>
<h2>Quotes you created</h2>

<div class="all-pics">
<% @user.quotations.each do |quotation| %>
  <div class="show" id="q<%= quotation.id %>">
    <%= link_to quotation_path(quotation.id) do %>
      <img class="pic" src="<%= quotation.image%>">
      <div class="quote-text" style="font-size: <%= quotation.font_size %> !important; color: <%= quotation.font_colour %> !important;">
        <%= quotation.content.gsub(/\r\n/, "<br>").gsub(/ /, "&nbsp;").html_safe %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
