<h1>All Quotes</h1>
<div>

  <div class="all-images">
    <% @quotations.each do |quotation| %>
        <div class="show" id="q<%= quotation.id %>">
          <%= link_to quotation_path(quotation.id) do %>
            <img class="photo" src="<%= quotation.image%>">
            <div class="quote-text" style="font-size: <%= quotation.font_size %> !important; color: <%= quotation.font_colour %> !important;">
              <%= quotation.content.gsub(/\r\n/, "<br>").gsub(/ /, "&nbsp;").html_safe %>
            </div>
          <% end %>
          <%= button_to "Like", like_path(quotation.id), class: 'likeButton'  %>
        </div>
    <% end %>
  </div>
</div>
