
<div>
    <% if @quotation.user == @current_user %>
    <%= link_to 'Edit This Quotation', edit_quotation_path(@quotation) %>
    |
    <%= link_to 'Delete This Quotation', quotation_path(@quotation), method: 'delete' %>
    <% end %>
  </div>

<div class="show">
  <img src="<%= @quotation.image %>">
    <div class="quote-text" style="font-size: <%= @quotation.font_size %> !important; color: <%= @quotation.font_colour %> !important;">
      <%= @text %>
    </div>
  </div>
</div>
