<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <%= cloudinary_js_config %>
  </head>

  <body>
    <h1 class="title">Inspirational Quotes</h1>
    <nav>
      <%= link_to 'Home', quotations_path, class: "nav-link" %>
      |
      <% if @current_user.present? %>
      Welcome, <%= @current_user.name %>
      |
      <%= link_to 'Create New Quotations'%>
      |
      <%= link_to 'See All Quotations', quotations_path %>
      |
      <%= link_to 'Logout', login_path, method: 'delete' %>
    <% else %>
      <%= link_to 'Login', login_path %>
      |
      <%= link_to 'Sign up', new_user_path %>
    <% end %>
  </nav>
  <%= yield %>

  </body>
</html>


<!-- <body> -->
<!-- <h1 class="title">Inspirational Quotes</h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

      <li class="nav-item active">
          <%= link_to 'Home', quotations_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
      </li>
          <% if @current_user.present? %>
      <li>
      <li>
        <li class="nav-item">
        <%= link_to 'Welcome ' +  @current_user.name, user_path(@current_user), class: "nav-link"%>

        <li class="nav-item">
          <%= link_to 'Create New Quotations'%>
        </li>

        <li class="nav-item">
          <%= link_to 'Logout',
          login_path, method: 'delete',
          class: "nav-link" %>
        </li>

<% end %>

<li>
<% if @current_user.present? == false %>

<li class="nav-item">
  <%= link_to 'Login',login_path, class:"nav-link" %>
</li>

<li>
<%= link_to 'Sign up',new_user_path, class:"nav-link"%>
</li>

<% end %>
</li>

      </ul>
    </div>
  </nav>
</nav>
<%= yield %> -->
<!-- </body> -->
